.zym-container{
    width: 100%;
    display: grid;
    grid-template-columns: 75% 25%;
    box-sizing: border-box;
}
.zym-calculation{
    position: relative;
    background-color: #fff;
    padding: 20px 15px;
}
.zym-info-container{
    padding: 50px 0;
}